@charset "UTF-8";
html, body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

svg {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.contacts__logo {
  width: 296px;
  height: 33px;
}

.contacts__recall, .contacts__location {
  color: #2b7bc6;
  font-size: 14px;
  position: relative;
  padding-bottom: 2.5px;
  border-bottom: 1px dashed #2b7bc6;
}

.contacts {
  padding: 0 190px;
  padding-top: 45px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1eefb;
}
.contacts__location::before {
  content: "";
  width: 10px;
  height: 13px;
  background-image: url("../../img/location.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
}
.contacts__call {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
}
.contacts__tel {
  color: black;
  font-size: 21px;
  font-weight: 500;
}
.contacts__recall::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../../img/arrow_down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -29px;
  top: 50%;
  transform: translateY(-50%);
}
.contacts__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  color: #2b7bc6;
}

.menu {
  background-color: #e1eefb;
  padding: 20px 190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu__list {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 15%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu__item {
  padding: 20px 24px;
}
.menu__item:nth-child(1) {
  background-color: #004c93;
  padding-left: 70px;
  position: relative;
}
.menu__item:nth-child(1)::before {
  content: "";
  background-image: url("../../img/burger.svg");
  width: 18px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}
.menu__item:nth-child(2) {
  background-color: #1061ab;
}
.menu__item:nth-child(3) {
  background-color: #2b7bc6;
}

.search {
  flex-grow: 1;
  background-color: #fff;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  padding: 20px 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: inherit;
  flex-grow: 1;
}
.search__input:focus {
  outline: none;
}
.search__input:placeholder-shown {
  color: #536067;
}

.search__button {
  width: 22px;
  height: 24px;
  border: none;
  background-color: inherit;
}

.search__icon {
  fill: #2b7bc6;
}

.user {
  background-color: #f1f8ff;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.user__item {
  position: relative;
}
.user__item.marker::after {
  content: "4";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: #2b7bc6;
  background-color: #ffd600;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #2b7bc6;
  position: relative;
}

.banner {
  background: linear-gradient(to bottom, #e1eefb 50%, #f3f9ff 50%);
  height: 380px;
  padding: 0 190px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__list {
  flex-grow: 1;
}
.banner__item {
  height: 190px;
  padding-top: 50px;
  padding-left: 260px;
  color: white;
}
.banner__item:first-child {
  background-color: #1061ab;
}
.banner__item:last-child {
  background-color: #3bb9b8;
}
.banner__head {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 15%;
  text-transform: uppercase;
  padding-bottom: 13px;
}
.banner__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 15%;
}

.slider {
  padding: 20px;
  flex-basis: 1040px;
  height: 100%;
  background-color: #004c93;
  position: relative;
}
.slider__icon.back {
  transform: rotate(180deg);
}
.slider__button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider__button.back {
  left: 23px;
}
.slider__button.next {
  right: 23px;
}
.slider__wrapper {
  position: absolute;
  top: 76px;
  right: 104px;
}
.slider__head {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 15%;
  color: white;
  width: 290px;
}
.slider__paragraph {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: white;
  margin-top: 13px;
  margin-bottom: 31px;
}
.slider__more {
  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 15%;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 24px;
  border: none;
  background-color: #ffd600;
  border-radius: 5px;
}
.slider__switcher {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.slider__switcher .switcher__button {
  border: none;
  width: 10px;
  height: 10px;
  background-color: #9da4a8;
  border-radius: 50%;
}

.collection__item.sublist, .collection__list, .collection__sublist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.seller__head, .collection__head {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: underline;
  text-decoration-color: #1061ab;
  padding-bottom: 42px;
}

.collection {
  padding: 50px 190px;
  background-color: #f3f9ff;
}
.collection__list {
  height: 500px;
}
.collection__subitem {
  height: 240px;
}
.collection__item {
  height: 100%;
}
.collection__item.sublist {
  flex-direction: column;
}
.collection__item > .thumb, .collection__subitem > .thumb {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.collection__name {
  padding: 14px 20px;
  position: absolute;
  left: 0;
  bottom: 41px;
  background-color: rgba(59, 185, 184, 0.8);
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.collection__desc {
  position: absolute;
  left: 21px;
  bottom: 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: white;
}

.seller {
  padding: 40px 190px;
  background-color: #f3f9ff;
}
.seller__list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.seller__button {
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #2b7bc6;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 6px 16px;
}
.seller__button.active {
  color: white;
  background-color: #3bb9b8;
}

.seller__cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.seller__cards .card__item {
  width: 308px;
  height: 540px;
  background-color: white;
  padding: 10px;
  padding-bottom: 47px;
}
.seller__cards .card__item:not(:last-child) {
  border-right: 1px solid #e8e9e9;
}
.seller__cards .card__item:hover .thumb::after {
  bottom: 50%;
  transform: translateY(50%);
}
.seller__cards .card__item:hover .card__button {
  color: white;
  background-color: #2b7bc6;
}
.seller__cards .thumb {
  width: 288px;
  height: 288px;
  position: relative;
  overflow: hidden;
}
.seller__cards .thumb::after {
  content: "Швидкий перегляд";
  text-align: center;
  width: 100%;
  background-color: rgba(43, 123, 198, 0.8);
  border-radius: 4px;
  padding: 13px 0;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.1s linear 0.3s, bottom 0.3s linear;
}
.seller__cards .card__hit {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.seller__cards .card__hit .hit__desc {
  background-color: #ffd600;
  color: black;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 15%;
  text-transform: uppercase;
  padding: 3px 10px;
}
.seller__cards .card__hit .hit__sale {
  background-color: #ea1649;
  color: white;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 15%;
  text-transform: uppercase;
  padding: 3px 10px;
}
.seller__cards .card__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.seller__cards .card__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 16px 10px;
  padding-bottom: 0;
  height: 72px;
  overflow-y: hidden;
}
.seller__cards .card__made {
  padding: 16px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.seller__cards .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
}
.seller__cards .card__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.seller__cards .card__sale {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ea1649;
  text-decoration: line-through;
  position: absolute;
  top: 4px;
  left: 10;
  transform: translateY(100%);
}
.seller__cards .card__button {
  border: 1px solid #2b7bc6;
  border-radius: 4px;
  background-color: transparent;
  text-transform: uppercase;
  color: #2b7bc6;
  padding: 6px 12px;
}
.seller__cards .rating {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.seller__cards .stars__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.seller__cards .stars__item {
  width: 14px;
  height: 13px;
  mask: url("../../img/starr.svg") no-repeat center/contain;
  background-color: #ffd600;
}
.seller__cards .stars__item.half {
  background: linear-gradient(to right, #ffd600 50%, #ccc 50%);
}
.seller__cards .comment__link {
  width: 13px;
  height: 13px;
  display: block;
  background-image: url("../../img/comment.svg");
}
.seller__cards .comment__count {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}