.contacts__logo {
  width: 296px;
  height: 33px;
}

$primari-color: #2b7bc6;
$primary-bgk: #e1eefb;

%decoration {
  color: $primari-color;
  font-size: 14px;
  position: relative;
  padding-bottom: 2.5px;
  border-bottom: 1px dashed $primari-color;
}

.contacts {
  padding: 0 190px;
  padding-top: 45px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $primary-bgk;

  &__location {
    @extend %decoration;

    &::before {
      content: "";
      width: 10px;
      height: 13px;
      background-image: url("../../img/location.svg");
      background-repeat: no-repeat;
      background-size: cover;

      position: absolute;
      left: -18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__call {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
  }

  &__tel {
    color: black;
    font-size: 21px;
    font-weight: 500;
  }

  &__recall {
    @extend %decoration;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("../../img/arrow_down.svg");
      background-repeat: no-repeat;
      background-size: cover;

      position: absolute;
      left: -29px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    font-size: 14px;
    color: $primari-color;
  }
}


.menu{
  background-color: $primary-bgk;
  padding: 20px 190px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu__list {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 15%;
  color: white;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu__item {
  padding: 20px 24px;

  &:nth-child(1) {
    background-color: #004c93;
    padding-left: 70px;
    position: relative;
    &::before {
      content: "";
      background-image: url("../../img/burger.svg");
      width: 18px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 24px;
      transform: translateY( -50%);
    }
  }
  &:nth-child(2) {
    background-color: #1061ab;
  }
  &:nth-child(3) {
    background-color: #2b7bc6;
  }
}
